.tabelausuarios {
    width: 100%;
 }

 .tabelausuarios h1{
    border: solid 3px rgb(92, 92, 89);
    width: 100%;
    text-align: center;
    background-color: #92a8d1;
 }

 body{
    border: solid 3px rgb(109, 108, 106);
    color: rgb(71, 64, 64);
    font-family: Arial;
    background-color: #e2e8f3;

   
}

.tabelausuarios table{
    border: solid 3px rgb(56, 56, 54);
    width: 100%;
    text-align: center;
    background-color: #92a8d1;
    
} 

th{
    text-align: left !important;
}


    